.card-grid {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  
  display: grid;
  
  transition: grid-template-rows 0.35s ease;
  grid-gap: 20px;

  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  grid-auto-rows: min-max(100px, auto);
  grid-auto-flow: dense;
  
//   @media (min-width: 30em) {
//     grid-template-columns: minmax(0, 1fr);
//   }
  
//   @media (min-width: 60em) {
//     grid-template-columns: repeat(4, minmax(0, 1fr));
//   }
}

.card {
  background-color: black;
  text-decoration: none;
  color: white;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  min-height: 100%;
  transition: grid-template-rows 0.35s ease;
  align-self: center;

  
  article {

    flex: 1;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  h1 {
    font-size: 20px;
    margin: 0;
    color: red;
  }
  
  p {
    flex: 1;
    line-height: 1.4;
  }

  .rating {
    color: gold;
  }
  
  .card-image {
    background-size: cover;
    background-position: center center;
    object-fit: contain;
    max-height: 400px;
  }

  .card-short {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    border: solid 1px #adadad;
  }

  // This animation is very shoddy
  .card-short .card-long {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.3s ease;
  }

  .card-short .card-long p {
    overflow: hidden;
  }

  .card-short[open] .card-long {
    grid-template-rows: 1fr;
  }

  summary {
    background: white;
    color: black;
    position: relative;
    anchor-name: --summary;
    
    &::marker {
        content: "";
    }
    
    &::before,
    &::after {
        content: "";
        border-block-start: 3px solid orangered;
        height: 0;
        width: 1rem;
        
        inset-block-start: 50%;
        inset-inline-end: 0;
        
        position: absolute;
        position-anchor: --summary;
        position-area: top end;
    }
    
    &::after {
        transform: rotate(90deg);
        transform-origin: 50%;
    }
  }

  details {
    background: white;
    color: black;
  }

  details[open] summary::after {
    transform: rotate(0deg);
  }
}

.item-1 {
  @media (min-width: 60em) {
    grid-column: 1;
    
    h1 {
      font-size: 24px;
    }
  }
}